body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #777;
  background: #fff;
}
section {
  padding-bottom: 100px;
}
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 5s linear;
  -ms-transition: background-color 5s linear;
  transition: background-color 5s linear;
  content: "";
}
.offcanvas #umdarmyrotc-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
a {
  color: #E03A3E;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #E03A3E;
  outline: none;
  text-decoration: none;
}
a:active {
  color: #E03A3E;
  outline: none;
  text-decoration: none;
}
a:focus {
  color: #E03A3E;
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 30px;
}
h1 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h2 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h3 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h4 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h5 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h6 {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
figure {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
::-webkit-selection {
  color: #fff;
  background: #E03A3E;
}
::-moz-selection {
  color: #fff;
  background: #E03A3E;
}
::selection {
  color: #fff;
  background: #E03A3E;
}
.umdarmyrotc-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.umdarmyrotc-nav #umdarmyrotc-logo {
  font-size: 1.1em;
  line-height: 1;
  margin: 0;
  padding: 8px 0 0 0;
  font-weight: bold;
}
.umdarmyrotc-nav #umdarmyrotc-logo em {
  color: #fff;
  font-weight: 100;
  font-style: normal;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.umdarmyrotc-nav #umdarmyrotc-logo a {
  padding: 0px 10px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.umdarmyrotc-nav ul {
  padding: 0;
  margin: 1px 0 0 0;
}
.umdarmyrotc-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.umdarmyrotc-nav ul li a {
  font-size: 12px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.umdarmyrotc-nav ul li a:hover {
  color: #fff;
}
.umdarmyrotc-nav ul li a:focus {
  color: #fff;
}
.umdarmyrotc-nav ul li a:active {
  color: #fff;
}
.umdarmyrotc-nav ul li.has-dropdown {
  position: relative;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.umdarmyrotc-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
.umdarmyrotc-nav ul li.has-dropdown:hover a {
  color: #fff;
}
.umdarmyrotc-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.umdarmyrotc-nav ul li.btn-cta a {
  color: #fff;
}
.umdarmyrotc-nav ul li.btn-cta a span {
  border: none !important;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.umdarmyrotc-nav ul li.btn-cta a:hover span {
  background: #1570a3;
  color: #fff;
}
.umdarmyrotc-nav ul li.active > a {
  color: #fff !important;
}
.umdarmyrotc-nav.scrolled {
  background: #fff;
  webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.umdarmyrotc-nav.scrolled ul {
  padding: 0;
  margin: 1px 0 0 0;
}
.umdarmyrotc-nav.scrolled ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.umdarmyrotc-nav.scrolled ul li a {
  color: rgba(0, 0, 0, 0.5);
}
.umdarmyrotc-nav.scrolled ul li a:hover {
  color: black;
}
.umdarmyrotc-nav.scrolled ul li.active > a {
  color: #E03A3E !important;
}
.umdarmyrotc-nav.scrolled ul li.btn-cta a {
  color: #fff;
}
.umdarmyrotc-nav.scrolled ul li.btn-cta a span {
  border: none !important;
  background: #E03A3E;
  padding: 4px 20px;
  color: #fff;
}
.umdarmyrotc-nav.scrolled #umdarmyrotc-logo em {
  color: #000;
}
.umdarmyrotc-nav.scrolled #umdarmyrotc-logo a {
  color: #000;
}
.umdarmyrotc-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}
.umdarmyrotc-cover {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.umdarmyrotc-cover a {
  color: #E03A3E;
}
.umdarmyrotc-cover a:hover {
  color: white;
}
.umdarmyrotc-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
.umdarmyrotc-cover > .container {
  position: relative;
  z-index: 10;
}
.umdarmyrotc-cover .display-t {
  height: 900px;
  display: table;
  width: 100%;
}
.umdarmyrotc-cover .display-rotc {
  height: 900px;
  display: table;
  width: 100%;
  display: table-cell !important;
  vertical-align: middle;
}
.umdarmyrotc-cover .display-rotc h1 {
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 30px;
  font-size: 59px;
  line-height: 1.5;
  font-weight: 100;
}
.umdarmyrotc-cover .display-rotc h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.umdarmyrotc-cover .btn-primary {
  color: #fff !important;
}
.umdarmyrotc-cover.umdarmyrotc-cover-sm {
  height: 100%;
}
.umdarmyrotc-cover.umdarmyrotc-cover-sm .display-t {
  height: 100%;
  display: table;
  width: 100%;
}
.umdarmyrotc-cover.umdarmyrotc-cover-sm .display-rotc {
  height: 100%;
  display: table;
  width: 100%;
}
.umdarmyrotc-cover.umdarmyrotc-cover-xs {
  height: 500px;
}
.umdarmyrotc-cover.umdarmyrotc-cover-xs .display-t {
  height: 500px;
  display: table;
  width: 100%;
}
.umdarmyrotc-cover.umdarmyrotc-cover-xs .display-rotc {
  height: 500px;
  display: table;
  width: 100%;
}
.umdarmyrotc-cover.umdarmyrotc-cover-xxs {
  padding: 3em 0;
}
#umdarmyrotc-about {
  padding: 4em 0 7em 0;
  clear: both;
}
#umdarmyrotc-about .img-shadow {
  position: relative;
  background: #E03A3E;
  width: 100%;
  float: left;
}
#umdarmyrotc-about .img-shadow img {
  position: relative;
  top: -20px;
  left: -20px;
}
#umdarmyrotc-about .heading {
  position: relative;
}
#umdarmyrotc-about .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
}
#umdarmyrotc-missions {
  padding: 4em 0;
  clear: both;
}
#umdarmyrotc-missions .heading {
  position: relative;
}
#umdarmyrotc-missions .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
#umdarmyrotc-missions .heading .subtle-text span {
  display: block;
}
#umdarmyrotc-missions .umdarmyrotc-mission-item {
  margin-bottom: 30px;
}
#umdarmyrotc-missions .umdarmyrotc-mission-item .mission-icon {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}
#umdarmyrotc-missions .umdarmyrotc-mission-item .mission-icon i {
  color: #58c383;
}
#umdarmyrotc-missions .umdarmyrotc-mission-item .umdarmyrotc-copy {
  display: table-cell;
  vertical-align: top;
}
#umdarmyrotc-missions .umdarmyrotc-mission-item .umdarmyrotc-copy h3 {
  margin-bottom: 15px;
  font-size: 24px;
}
#umdarmyrotc-our-team {
  padding: 4em 0;
  clear: both;
}
#umdarmyrotc-our-team .heading {
  position: relative;
}
#umdarmyrotc-our-team .heading .subtle-text {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
#umdarmyrotc-our-team .heading .subtle-text span {
  display: block;
}
#umdarmyrotc-our-team .team-box {
  position: relative;
  padding: 5px;
  padding-top: 5.5em;
  margin-top: 7em;
  background: #fff;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#umdarmyrotc-our-team .team-box .user {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  width: 147px;
  height: 147px;
}
#umdarmyrotc-our-team .team-box .user img {
  width: 147px;
  height: 147px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #f2f2f2;
}
#umdarmyrotc-our-team .team-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
#umdarmyrotc-our-team .team-box .position {
  font-size: 16px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  #umdarmyrotc-team .team-box {
    margin: 60px 0 110px 0;
  }
}
#umdarmyrotc-calendar {
  padding: 4em 0;
  clear: both;
}
#umdarmyrotc-calendar .heading {
  position: relative;
}
#umdarmyrotc-calendar .heading .sub {
  padding-bottom: 20px;
  margin-bottom: 0px;
}
#umdarmyrotc-calendar h3 {
  color: #fff;
  font-size: 30px;
}
#umdarmyrotc-service {
  padding: 4em 0;
  clear: both;
}
#umdarmyrotc-service .heading {
  position: relative;
}
#umdarmyrotc-service .heading .subtle-text {
  position: absolute;
  bottom: -1em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
#umdarmyrotc-faq {
  padding: 4em 0;
  clear: both;
}
#umdarmyrotc-faq .heading {
  position: relative;
}
#umdarmyrotc-faq .heading .subtle-text {
  position: absolute;
  bottom: -1em;
  left: 0;
  text-transform: uppercase;
  font-size: 208px;
  color: #F8F8F8;
  font-weight: 900;
  z-index: -1;
  line-height: 1;
}
.heading {
  text-align: center;
  margin-bottom: 10px;
}
.heading h1 {
  margin-bottom: 10px;
}
.heading .sub {
  position: relative;
  padding-bottom: 40px;
  font-size: 18px;
  color: #757575;
}
.heading .sub:after {
  bottom: 0;
  left: 50%;
  margin-left: -36px;
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background: #E03A3E;
}
.heading-colored {
  color: #E03A3E;
}
.read-more i {
  position: relative;
  top: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.read-more:hover i {
  padding-left: 10px;
}
.umdarmyrotc-social-icons {
  margin: 0;
  padding: 0;
}
.umdarmyrotc-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.umdarmyrotc-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #E03A3E;
  padding-left: 10px;
  padding-right: 10px;
}
.umdarmyrotc-social-icons li a i {
  font-size: 20px;
}
.umdarmyrotc-calendar-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.umdarmyrotc-calendar-info ul {
  padding: 0;
  margin: 0;
  clear: both;
}
.umdarmyrotc-calendar-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
form label {
  font-weight: normal !important;
}
#umdarmyrotc-footer {
  padding-top: 30px;
  background: #fafafa;
}
#umdarmyrotc-footer .umdarmyrotc-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#umdarmyrotc-footer .umdarmyrotc-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
#umdarmyrotc-footer .umdarmyrotc-footer-links li a {
  text-decoration: none;
}
#umdarmyrotc-footer .umdarmyrotc-footer-links li a:hover {
  text-decoration: underline;
}
#umdarmyrotc-footer .umdarmyrotc-widget {
  margin-bottom: 30px;
}
#umdarmyrotc-footer .umdarmyrotc-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#umdarmyrotc-footer .umdarmyrotc-widget .umdarmyrotc-quick-contact {
  padding: 0;
  margin: 0;
}
#umdarmyrotc-footer .umdarmyrotc-widget .umdarmyrotc-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#umdarmyrotc-footer .umdarmyrotc-widget .umdarmyrotc-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#umdarmyrotc-footer .copyright .block {
  display: block;
}
#umdarmyrotc-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 150px;
  background: white;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#umdarmyrotc-offcanvas a {
  color: black;
}
#umdarmyrotc-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#umdarmyrotc-offcanvas ul {
  padding: 0;
  margin: 0;
}
#umdarmyrotc-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#umdarmyrotc-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#umdarmyrotc-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#umdarmyrotc-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#umdarmyrotc-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover {
  text-decoration: none;
  outline: none;
}
.gototop a:active {
  text-decoration: none;
  outline: none;
}
.gototop a:focus {
  text-decoration: none;
  outline: none;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.umdarmyrotc-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
.umdarmyrotc-nav-toggle:hover {
  outline: none;
  border-bottom: none !important;
}
.umdarmyrotc-nav-toggle:hover i::before {
  top: -10px;
}
.umdarmyrotc-nav-toggle:hover i::after {
  bottom: -10px;
}
.umdarmyrotc-nav-toggle:focus {
  outline: none;
  border-bottom: none !important;
}
.umdarmyrotc-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.umdarmyrotc-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all 0.2s ease-out;
}
.umdarmyrotc-nav-toggle i::before {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  top: -7px;
}
.umdarmyrotc-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  bottom: -7px;
}
.umdarmyrotc-nav-toggle.active i {
  background: transparent;
}
.umdarmyrotc-nav-toggle.active i::before {
  background: #444;
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.umdarmyrotc-nav-toggle.active i::after {
  background: #444;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.umdarmyrotc-nav-toggle.umdarmyrotc-nav-white > i {
  color: #fff;
  background: #fff;
}
.umdarmyrotc-nav-toggle.umdarmyrotc-nav-white > i::before {
  background: #fff;
}
.umdarmyrotc-nav-toggle.umdarmyrotc-nav-white > i::after {
  background: #fff;
}
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn:hover {
  box-shadow: none !important;
  outline: none !important;
}
.btn:active {
  box-shadow: none !important;
  outline: none !important;
}
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn-primary {
  background: #E03A3E;
  color: #fff;
  border: 2px solid #E03A3E !important;
}
.btn-primary:hover {
  background: #1570a3 !important;
  border-color: #1570a3 !important;
}
.btn-primary:focus {
  background: #1570a3 !important;
  border-color: #1570a3 !important;
}
.btn-primary:active {
  background: #1570a3 !important;
  border-color: #1570a3 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #E03A3E;
  border: 2px solid #E03A3E;
}
.btn-primary.btn-outline:hover {
  background: #E03A3E;
  color: #fff;
}
.btn-primary.btn-outline:focus {
  background: #E03A3E;
  color: #fff;
}
.btn-primary.btn-outline:active {
  background: #E03A3E;
  color: #fff;
}
.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success:focus {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover {
  background: #5cb85c;
  color: #fff;
}
.btn-success.btn-outline:focus {
  background: #5cb85c;
  color: #fff;
}
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}
.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info:focus {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover {
  background: #5bc0de;
  color: #fff;
}
.btn-info.btn-outline:focus {
  background: #5bc0de;
  color: #fff;
}
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}
.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning:focus {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover {
  background: #f0ad4e;
  color: #fff;
}
.btn-warning.btn-outline:focus {
  background: #f0ad4e;
  color: #fff;
}
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}
.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger:focus {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover {
  background: #d9534f;
  color: #fff;
}
.btn-danger.btn-outline:focus {
  background: #d9534f;
  color: #fff;
}
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}
.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white:focus {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white.btn-outline:focus {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover {
  box-shadow: none;
}
.btn-outline:focus {
  box-shadow: none;
}
.btn-outline:active {
  box-shadow: none;
}
.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}
.row-pb-md {
  padding-bottom: 1.5em !important;
}
.row-pb-sm {
  padding-bottom: 1em !important;
}
.umdarmyrotc-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}
.js .animate-box {
  opacity: 0;
}
@media screen and (max-width: 991px) {
  .umdarmyrotc-nav {
    padding: 20px 0;
  }
  .umdarmyrotc-nav .menu-1 {
    display: none;
  }
  .umdarmyrotc-nav .menu-2 {
    display: none;
  }
  #umdarmyrotc-offcanvas {
    display: block;
  }
  .umdarmyrotc-nav-toggle {
    display: block;
  }
}
@media screen and (max-width: 414px) {
  .umdarmyrotc-cover {
    height: 100%;
  }
  .umdarmyrotc-cover .display-t {
    height: 100%;
  }
  .umdarmyrotc-cover .display-rotc {
    height: 100%;
  }
  .umdarmyrotc-cover .display-rotc h1 {
    font-size: 24px;
    line-height: 1.2;
    padding-top: 70px;
    margin-bottom: 10px;
  }
  .umdarmyrotc-cover .display-rotc h2 {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-sm {
    height: 400px;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-sm .display-t {
    height: 400px;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-sm .display-rotc {
    height: 400px;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-xs .display-t {
    padding: 3em 0;
    height: inherit !important;
  }
  .umdarmyrotc-cover.umdarmyrotc-cover-xs .display-rotc {
    padding: 3em 0;
    height: inherit !important;
  }
}
@media screen and (max-width: 768px) {
  #umdarmyrotc-missions .umdarmyrotc-mission-item .mission-icon i {
    margin: 0 15px;
  }
  .heading h1 {
    font-size: 26px;
  }
  #umdarmyrotc-header .display-rotc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  #umdarmyrotc-footer .copyright .pull-left {
    float: none !important;
    text-align: center;
  }
  #umdarmyrotc-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
@media (max-width: 770px) {
  .big-container {
    display: none;
  }
}
@media (min-width: 770px) {
  .small-container {
    display: none;
  }
}
/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnail {
  padding: 20px;
}
.under {
  text-decoration: underline;
  color: black;
}
